@import "../styling/_variables.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $color-background;
	color: $color-text;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	padding-top: 8em;
}

h1 {
	font-size: 4em;
	text-align: center;
}

h1.move-in span span {
	position: relative;
	animation: move-text 0.75s calc(0.5s + calc(var(--index) / 10)) forwards;
	bottom: -1em;
	opacity: 0;
}

@keyframes move-text {
	0% {
		bottom: -0.2em;
		opacity: 1;
		color: $color-accent-2;
	}
	
	50% {
		bottom: 0.2em;
		color: $color-accent-3;
	}

	100% {
		bottom: 0;
		opacity: 1;
		color: $color-accent-1;
	}
}